### Carregamento

In [4]:
import pandas as pd
# Função para carregar os dados
def carregar_dados(caminho_arquivo, coluna_data=None):
    """
    Carrega um arquivo CSV com dados.
    
    Parâmetros:
    - caminho_arquivo (str): Caminho do arquivo CSV.
    - coluna_data (str, opcional): Nome da coluna de datas para converter para datetime.
    
    Retorna:
    - pandas.DataFrame: DataFrame com os dados carregados.
    """
    # Carrega o CSV com separador ';'
    dados = pd.read_csv(caminho_arquivo, sep=';')
    
    # Converte a coluna de datas para datetime com timezone, se especificada
    if coluna_data:
        dados[coluna_data] = pd.to_datetime(dados[coluna_data], utc=True)
    
    return dados
# Caminho
caminho_arquivo = '../data/raw/marketing_campaign.csv'
# Carrega os dados com o separador correto
dados = carregar_dados(caminho_arquivo)

# Exibir as primeiras linhas do DataFrame
dados.head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,2013-09-09,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,2012-11-13,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,2013-05-08,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,2013-06-06,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,28,...,20,1,0,0,0,0,0,3,11,0

### Tamanho base

In [9]:
def verificar_tamanho_base(df):
    """
    Verifica o tamanho da base de dados em termos de número de linhas e colunas.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser verificado.
    
    Retorna:
    - dict: Dicionário com o número de linhas e colunas.
    """
    tamanho = {
        'Número de Linhas': df.shape[0],
        'Número de Colunas': df.shape[1]
    }
    
    return tamanho

# Verificar o tamanho da base de dados
tamanho_base = verificar_tamanho_base(dados)
tamanho_base

{'Número de Linhas': 2240, 'Número de Colunas': 29}

### Verificação valores nulos

In [10]:
# Função para verificar valores ausentes
def verificar_valores_ausentes(df):
    """
    Verifica a quantidade e o percentual de valores ausentes em cada coluna de um DataFrame.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser verificado.
    
    Retorna:
    - pandas.DataFrame: DataFrame com a quantidade e o percentual de valores ausentes por coluna.
    """
    # Calcular a quantidade de valores ausentes
    valores_ausentes = df.isnull().sum()
    
    # Calcular o percentual de valores ausentes
    percentual_ausentes = (valores_ausentes / df.shape[0]) * 100
    
    # Criar um DataFrame com os resultados
    tabela_ausentes = pd.DataFrame({
        'Quantidade de Valores Ausentes': valores_ausentes,
        'Percentual de Valores Ausentes (%)': percentual_ausentes
    })
    
    # Ordenar o DataFrame pelo percentual de valores ausentes em ordem decrescente
    tabela_ausentes = tabela_ausentes[tabela_ausentes['Quantidade de Valores Ausentes'] > 0]
    tabela_ausentes = tabela_ausentes.sort_values(by='Percentual de Valores Ausentes (%)', ascending=False)
    
    return tabela_ausentes

# Verificar valores ausentes
tabela_ausentes = verificar_valores_ausentes(dados)
tabela_ausentes

        Quantidade de Valores Ausentes  Percentual de Valores Ausentes (%)
Income                              24                            1.071429

### Valores nulos: Income

In [18]:
def substituir_valores_nulos(df, colunas=None, estrategia='media'):
    """
    Substitui valores nulos em colunas específicas de um DataFrame e retorna informações detalhadas.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser processado
    - colunas (list, opcional): Lista de colunas para substituir valores nulos
    - estrategia (str): Estratégia de substituição ('media', 'mediana', 'moda')
    
    Retorna:
    - tuple: (DataFrame tratado, dict com informações das alterações)
    """
    df_tratado = df.copy()
    info_alteracoes = {}
    
    if colunas is None:
        colunas = df_tratado.select_dtypes(include=['int64', 'float64']).columns
    
    for coluna in colunas:
        if coluna in df_tratado.columns:
            nulos_antes = df_tratado[coluna].isnull().sum()
            
            if nulos_antes > 0:
                if estrategia == 'media':
                    valor = df_tratado[coluna].mean()
                elif estrategia == 'mediana':
                    valor = df_tratado[coluna].median()
                elif estrategia == 'moda':
                    valor = df_tratado[coluna].mode()[0]
                else:
                    raise ValueError("Estratégia inválida. Use 'media', 'mediana' ou 'moda'")
                
                # Correção do warning: usar loc para atribuição
                df_tratado.loc[df_tratado[coluna].isnull(), coluna] = valor
                
                info_alteracoes[coluna] = {
                    'valores_alterados': nulos_antes,
                    'valor_substituicao': round(valor, 2),
                    'estrategia': estrategia
                }
    
    # Exibir resumo das alterações
    for coluna, info in info_alteracoes.items():
        print(f"\nAlteração realizada na coluna: {coluna}")
        print(f"Valores nulos substituídos: {info['valores_alterados']}")
        print(f"Valor de substituição ({info['estrategia']}): {info['valor_substituicao']}")
    
    if not info_alteracoes:
        print("\nNenhuma alteração foi necessária nas colunas especificadas.")
    
    return df_tratado, info_alteracoes

# Aplicar substituição de valores nulos
dados, info_alteracoes = substituir_valores_nulos(dados, colunas=['Income'])

# Verificar se ainda existem valores nulos
verificar_valores_ausentes(dados)

Nenhuma alteração foi necessária nas colunas especificadas.

Empty DataFrame
Columns: [Quantidade de Valores Ausentes, Percentual de Valores Ausentes (%)]
Index: []

### Valores duplicados

In [13]:
def verificar_valores_duplicados(df, colunas=None):
    """
    Verifica valores duplicados em um DataFrame, fornecendo análise detalhada.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser analisado
    - colunas (list, opcional): Lista específica de colunas para verificar duplicatas.
                               Se None, verifica todas as colunas.
    
    Retorna:
    - dict: Dicionário com informações sobre duplicatas para cada coluna analisada
    """
    resultado = {}
    
    # Se nenhuma coluna específica for fornecida, usar todas as colunas
    if colunas is None:
        colunas = df.columns
    
    # Análise de duplicatas por coluna
    for coluna in colunas:
        # Encontrar valores duplicados
        duplicados = df[df[coluna].duplicated(keep='first')]
        qtd_duplicados = len(duplicados)
        
        if qtd_duplicados > 0:
            # Contagem de ocorrências de cada valor duplicado
            valores_duplicados = df[coluna].value_counts()[df[coluna].value_counts() > 1]
            
            resultado[coluna] = {
                'possui_duplicados': True,
                'quantidade_duplicados': qtd_duplicados,
                'valores_e_contagem': valores_duplicados.to_dict()
            }
        else:
            resultado[coluna] = {
                'possui_duplicados': False,
                'quantidade_duplicados': 0,
                'valores_e_contagem': {}
            }
    
    # Exibir resumo
    print("=== Análise de Valores Duplicados ===\n")
    
    for coluna, info in resultado.items():
        print(f"\nColuna: {coluna}")
        if info['possui_duplicados']:
            print(f"Status: Possui {info['quantidade_duplicados']} valores duplicados")
            print("Valores duplicados e suas ocorrências:")
            for valor, contagem in info['valores_e_contagem'].items():
                print(f"  - Valor: {valor} | Ocorrências: {contagem}")
        else:
            print("Status: Não possui valores duplicados")
    
    return resultado

# Executar verificação de valores duplicados
resultados_duplicados = verificar_valores_duplicados(dados)

=== Análise de Valores Duplicados ===


Coluna: ID
Status: Não possui valores duplicados

Coluna: Year_Birth
Status: Possui 2181 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: 1976 | Ocorrências: 89
  - Valor: 1971 | Ocorrências: 87
  - Valor: 1975 | Ocorrências: 83
  - Valor: 1972 | Ocorrências: 79
  - Valor: 1978 | Ocorrências: 77
  - Valor: 1970 | Ocorrências: 77
  - Valor: 1973 | Ocorrências: 74
  - Valor: 1965 | Ocorrências: 74
  - Valor: 1969 | Ocorrências: 71
  - Valor: 1974 | Ocorrências: 69
  - Valor: 1956 | Ocorrências: 55
  - Valor: 1958 | Ocorrências: 53
  - Valor: 1979 | Ocorrências: 53
  - Valor: 1952 | Ocorrências: 52
  - Valor: 1977 | Ocorrências: 52
  - Valor: 1968 | Ocorrências: 51
  - Valor: 1959 | Ocorrências: 51
  - Valor: 1966 | Ocorrências: 50
  - Valor: 1954 | Ocorrências: 50
  - Valor: 1955 | Ocorrências: 49
  - Valor: 1960 | Ocorrências: 49
  - Valor: 1982 | Ocorrências: 45
  - Valor: 1963 | Ocorrências: 45
  - Valor: 1967 | Ocorrências: 44
  - Valor: 1962 | Ocorrências: 44
  - Valor: 1957 | Ocorrências: 43
  - Valor: 1951 | Ocorrências: 43
  - Valor: 1983 | Ocorrências: 42
  - Valor: 1986 | Ocorrências: 42
  - Valor: 1964 | Ocorrências: 42
  - Valor: 1980 | Ocorrências: 39
  - Valor: 1981 | Ocorrências: 39
  - Valor: 1984 | Ocorrências: 38
  - Valor: 1961 | Ocorrências: 36
  - Valor: 1953 | Ocorrências: 35
  - Valor: 1985 | Ocorrências: 32
  - Valor: 1989 | Ocorrências: 30
  - Valor: 1949 | Ocorrências: 30
  - Valor: 1950 | Ocorrências: 29
  - Valor: 1988 | Ocorrências: 29
  - Valor: 1987 | Ocorrências: 27
  - Valor: 1948 | Ocorrências: 21
  - Valor: 1990 | Ocorrências: 18
  - Valor: 1946 | Ocorrências: 16
  - Valor: 1947 | Ocorrências: 16
  - Valor: 1991 | Ocorrências: 15
  - Valor: 1992 | Ocorrências: 13
  - Valor: 1945 | Ocorrências: 8
  - Valor: 1943 | Ocorrências: 7
  - Valor: 1944 | Ocorrências: 7
  - Valor: 1993 | Ocorrências: 5
  - Valor: 1995 | Ocorrências: 5
  - Valor: 1994 | Ocorrências: 3
  - Valor: 1996 | Ocorrências: 2

Coluna: Education
Status: Possui 2235 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: Graduation | Ocorrências: 1127
  - Valor: PhD | Ocorrências: 486
  - Valor: Master | Ocorrências: 370
  - Valor: 2n Cycle | Ocorrências: 203
  - Valor: Basic | Ocorrências: 54

Coluna: Marital_Status
Status: Possui 2232 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: Married | Ocorrências: 864
  - Valor: Together | Ocorrências: 580
  - Valor: Single | Ocorrências: 480
  - Valor: Divorced | Ocorrências: 232
  - Valor: Widow | Ocorrências: 77
  - Valor: Alone | Ocorrências: 3
  - Valor: Absurd | Ocorrências: 2
  - Valor: YOLO | Ocorrências: 2

Coluna: Income
Status: Possui 265 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: 52247.25135379061 | Ocorrências: 24
  - Valor: 7500.0 | Ocorrências: 12
  - Valor: 35860.0 | Ocorrências: 4
  - Valor: 37760.0 | Ocorrências: 3
  - Valor: 83844.0 | Ocorrências: 3
  - Valor: 63841.0 | Ocorrências: 3
  - Valor: 18929.0 | Ocorrências: 3
  - Valor: 47025.0 | Ocorrências: 3
  - Valor: 34176.0 | Ocorrências: 3
  - Valor: 48432.0 | Ocorrências: 3
  - Valor: 80134.0 | Ocorrências: 3
  - Valor: 18690.0 | Ocorrências: 3
  - Valor: 39922.0 | Ocorrências: 3
  - Valor: 67445.0 | Ocorrências: 3
  - Valor: 46098.0 | Ocorrências: 3
  - Valor: 60474.0 | Ocorrências: 2
  - Valor: 42523.0 | Ocorrências: 2
  - Valor: 62187.0 | Ocorrências: 2
  - Valor: 82347.0 | Ocorrências: 2
  - Valor: 34421.0 | Ocorrências: 2
  - Valor: 40321.0 | Ocorrências: 2
  - Valor: 22574.0 | Ocorrências: 2
  - Valor: 57100.0 | Ocorrências: 2
  - Valor: 33996.0 | Ocorrências: 2
  - Valor: 52278.0 | Ocorrências: 2
  - Valor: 42386.0 | Ocorrências: 2
  - Valor: 62820.0 | Ocorrências: 2
  - Valor: 19986.0 | Ocorrências: 2
  - Valor: 29672.0 | Ocorrências: 2
  - Valor: 63381.0 | Ocorrências: 2
  - Valor: 60544.0 | Ocorrências: 2
  - Valor: 35178.0 | Ocorrências: 2
  - Valor: 52614.0 | Ocorrências: 2
  - Valor: 30279.0 | Ocorrências: 2
  - Valor: 68655.0 | Ocorrências: 2
  - Valor: 55212.0 | Ocorrências: 2
  - Valor: 59292.0 | Ocorrências: 2
  - Valor: 38578.0 | Ocorrências: 2
  - Valor: 46015.0 | Ocorrências: 2
  - Valor: 30372.0 | Ocorrências: 2
  - Valor: 71952.0 | Ocorrências: 2
  - Valor: 46681.0 | Ocorrências: 2
  - Valor: 31163.0 | Ocorrências: 2
  - Valor: 63810.0 | Ocorrências: 2
  - Valor: 37758.0 | Ocorrências: 2
  - Valor: 72025.0 | Ocorrências: 2
  - Valor: 38361.0 | Ocorrências: 2
  - Valor: 27100.0 | Ocorrências: 2
  - Valor: 58554.0 | Ocorrências: 2
  - Valor: 33316.0 | Ocorrências: 2
  - Valor: 71322.0 | Ocorrências: 2
  - Valor: 51369.0 | Ocorrências: 2
  - Valor: 49912.0 | Ocorrências: 2
  - Valor: 34596.0 | Ocorrências: 2
  - Valor: 45143.0 | Ocorrências: 2
  - Valor: 84219.0 | Ocorrências: 2
  - Valor: 64857.0 | Ocorrências: 2
  - Valor: 80573.0 | Ocorrências: 2
  - Valor: 44794.0 | Ocorrências: 2
  - Valor: 48918.0 | Ocorrências: 2
  - Valor: 63693.0 | Ocorrências: 2
  - Valor: 31353.0 | Ocorrências: 2
  - Valor: 24882.0 | Ocorrências: 2
  - Valor: 45759.0 | Ocorrências: 2
  - Valor: 61286.0 | Ocorrências: 2
  - Valor: 37070.0 | Ocorrências: 2
  - Valor: 22804.0 | Ocorrências: 2
  - Valor: 67546.0 | Ocorrências: 2
  - Valor: 43776.0 | Ocorrências: 2
  - Valor: 58646.0 | Ocorrências: 2
  - Valor: 34026.0 | Ocorrências: 2
  - Valor: 69109.0 | Ocorrências: 2
  - Valor: 69139.0 | Ocorrências: 2
  - Valor: 32892.0 | Ocorrências: 2
  - Valor: 80124.0 | Ocorrências: 2
  - Valor: 37717.0 | Ocorrências: 2
  - Valor: 26490.0 | Ocorrências: 2
  - Valor: 94384.0 | Ocorrências: 2
  - Valor: 15287.0 | Ocorrências: 2
  - Valor: 18701.0 | Ocorrências: 2
  - Valor: 71853.0 | Ocorrências: 2
  - Valor: 63342.0 | Ocorrências: 2
  - Valor: 75702.0 | Ocorrências: 2
  - Valor: 40049.0 | Ocorrências: 2
  - Valor: 70038.0 | Ocorrências: 2
  - Valor: 74293.0 | Ocorrências: 2
  - Valor: 42586.0 | Ocorrências: 2
  - Valor: 62466.0 | Ocorrências: 2
  - Valor: 34824.0 | Ocorrências: 2
  - Valor: 33039.0 | Ocorrências: 2
  - Valor: 87771.0 | Ocorrências: 2
  - Valor: 15315.0 | Ocorrências: 2
  - Valor: 81698.0 | Ocorrências: 2
  - Valor: 22419.0 | Ocorrências: 2
  - Valor: 19514.0 | Ocorrências: 2
  - Valor: 51012.0 | Ocorrências: 2
  - Valor: 41335.0 | Ocorrências: 2
  - Valor: 84169.0 | Ocorrências: 2
  - Valor: 33249.0 | Ocorrências: 2
  - Valor: 47352.0 | Ocorrências: 2
  - Valor: 70179.0 | Ocorrências: 2
  - Valor: 56962.0 | Ocorrências: 2
  - Valor: 31859.0 | Ocorrências: 2
  - Valor: 50611.0 | Ocorrências: 2
  - Valor: 44989.0 | Ocorrências: 2
  - Valor: 86857.0 | Ocorrências: 2
  - Valor: 66476.0 | Ocorrências: 2
  - Valor: 56551.0 | Ocorrências: 2
  - Valor: 72635.0 | Ocorrências: 2
  - Valor: 75774.0 | Ocorrências: 2
  - Valor: 30560.0 | Ocorrências: 2
  - Valor: 35791.0 | Ocorrências: 2
  - Valor: 22775.0 | Ocorrências: 2
  - Valor: 98777.0 | Ocorrências: 2
  - Valor: 50616.0 | Ocorrências: 2
  - Valor: 73059.0 | Ocorrências: 2
  - Valor: 62807.0 | Ocorrências: 2
  - Valor: 46734.0 | Ocorrências: 2
  - Valor: 58330.0 | Ocorrências: 2
  - Valor: 54690.0 | Ocorrências: 2
  - Valor: 68118.0 | Ocorrências: 2
  - Valor: 38946.0 | Ocorrências: 2
  - Valor: 71367.0 | Ocorrências: 2
  - Valor: 37284.0 | Ocorrências: 2
  - Valor: 25509.0 | Ocorrências: 2
  - Valor: 66664.0 | Ocorrências: 2
  - Valor: 20425.0 | Ocorrências: 2
  - Valor: 17144.0 | Ocorrências: 2
  - Valor: 68487.0 | Ocorrências: 2
  - Valor: 56796.0 | Ocorrências: 2
  - Valor: 20130.0 | Ocorrências: 2
  - Valor: 28691.0 | Ocorrências: 2
  - Valor: 64014.0 | Ocorrências: 2
  - Valor: 50943.0 | Ocorrências: 2
  - Valor: 49681.0 | Ocorrências: 2
  - Valor: 39898.0 | Ocorrências: 2
  - Valor: 37401.0 | Ocorrências: 2
  - Valor: 65685.0 | Ocorrências: 2
  - Valor: 57091.0 | Ocorrências: 2
  - Valor: 66835.0 | Ocorrências: 2
  - Valor: 68682.0 | Ocorrências: 2
  - Valor: 42014.0 | Ocorrências: 2
  - Valor: 20587.0 | Ocorrências: 2
  - Valor: 74881.0 | Ocorrências: 2
  - Valor: 25293.0 | Ocorrências: 2
  - Valor: 34935.0 | Ocorrências: 2
  - Valor: 81217.0 | Ocorrências: 2
  - Valor: 23331.0 | Ocorrências: 2
  - Valor: 67911.0 | Ocorrências: 2
  - Valor: 34600.0 | Ocorrências: 2
  - Valor: 75507.0 | Ocorrências: 2
  - Valor: 82032.0 | Ocorrências: 2
  - Valor: 79146.0 | Ocorrências: 2
  - Valor: 83151.0 | Ocorrências: 2
  - Valor: 75127.0 | Ocorrências: 2
  - Valor: 37697.0 | Ocorrências: 2
  - Valor: 46891.0 | Ocorrências: 2
  - Valor: 72071.0 | Ocorrências: 2
  - Valor: 53977.0 | Ocorrências: 2
  - Valor: 57136.0 | Ocorrências: 2
  - Valor: 28249.0 | Ocorrências: 2
  - Valor: 69084.0 | Ocorrências: 2
  - Valor: 30992.0 | Ocorrências: 2
  - Valor: 50150.0 | Ocorrências: 2
  - Valor: 24594.0 | Ocorrências: 2
  - Valor: 83829.0 | Ocorrências: 2
  - Valor: 42429.0 | Ocorrências: 2
  - Valor: 76081.0 | Ocorrências: 2
  - Valor: 54809.0 | Ocorrências: 2
  - Valor: 48948.0 | Ocorrências: 2
  - Valor: 23228.0 | Ocorrências: 2
  - Valor: 30096.0 | Ocorrências: 2
  - Valor: 62845.0 | Ocorrências: 2
  - Valor: 78497.0 | Ocorrências: 2
  - Valor: 61825.0 | Ocorrências: 2
  - Valor: 85696.0 | Ocorrências: 2
  - Valor: 46423.0 | Ocorrências: 2
  - Valor: 26907.0 | Ocorrências: 2
  - Valor: 42000.0 | Ocorrências: 2
  - Valor: 65324.0 | Ocorrências: 2
  - Valor: 65526.0 | Ocorrências: 2
  - Valor: 52413.0 | Ocorrências: 2
  - Valor: 65104.0 | Ocorrências: 2
  - Valor: 40689.0 | Ocorrências: 2
  - Valor: 62972.0 | Ocorrências: 2
  - Valor: 75777.0 | Ocorrências: 2
  - Valor: 38998.0 | Ocorrências: 2
  - Valor: 38452.0 | Ocorrências: 2
  - Valor: 77298.0 | Ocorrências: 2
  - Valor: 84618.0 | Ocorrências: 2
  - Valor: 10979.0 | Ocorrências: 2
  - Valor: 77766.0 | Ocorrências: 2
  - Valor: 68695.0 | Ocorrências: 2
  - Valor: 38620.0 | Ocorrências: 2
  - Valor: 35688.0 | Ocorrências: 2
  - Valor: 31497.0 | Ocorrências: 2
  - Valor: 46610.0 | Ocorrências: 2
  - Valor: 35196.0 | Ocorrências: 2
  - Valor: 90638.0 | Ocorrências: 2
  - Valor: 65487.0 | Ocorrências: 2
  - Valor: 22634.0 | Ocorrências: 2
  - Valor: 81361.0 | Ocorrências: 2
  - Valor: 70596.0 | Ocorrências: 2
  - Valor: 40590.0 | Ocorrências: 2
  - Valor: 66373.0 | Ocorrências: 2
  - Valor: 70924.0 | Ocorrências: 2
  - Valor: 54450.0 | Ocorrências: 2
  - Valor: 56129.0 | Ocorrências: 2
  - Valor: 46344.0 | Ocorrências: 2
  - Valor: 21994.0 | Ocorrências: 2
  - Valor: 30351.0 | Ocorrências: 2
  - Valor: 29760.0 | Ocorrências: 2
  - Valor: 59354.0 | Ocorrências: 2
  - Valor: 84906.0 | Ocorrências: 2
  - Valor: 26091.0 | Ocorrências: 2
  - Valor: 28427.0 | Ocorrências: 2
  - Valor: 79593.0 | Ocorrências: 2
  - Valor: 20180.0 | Ocorrências: 2
  - Valor: 82800.0 | Ocorrências: 2

Coluna: Kidhome
Status: Possui 2237 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: 0 | Ocorrências: 1293
  - Valor: 1 | Ocorrências: 899
  - Valor: 2 | Ocorrências: 48

Coluna: Teenhome
Status: Possui 2237 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: 0 | Ocorrências: 1158
  - Valor: 1 | Ocorrências: 1030
  - Valor: 2 | Ocorrências: 52

Coluna: Dt_Customer
Status: Possui 1577 valores duplicados
Valores duplicados e suas ocorrências:
  - Valor: 2012-08-31 | Ocorrências: 12
  - Valor: 2012-09-12 | Ocorrências: 11
  - Valor: 2013-02-14 | Ocorrências: 11
  - Valor: 2014-05-12 | Ocorrências: 11
  - Valor: 2013-08-20 | Ocorrências: 10
  - Valor: 2014-05-22 | Ocorrências: 10
  - Valor: 2014-04-05 | Ocorrências: 9
  - Valor: 2014-03-23 | Ocorrências: 9
  - Valor: 2013-01-02 | Ocorrências: 9
  - Valor: 2014-03-01 | Ocorrências: 9
  - Valor: 2012-10-29 | Ocorrências: 9
  - Valor: 2012-08-29 | Ocorrências: 8
  - Valor: 2014-05-23 | Ocorrências: 8
  - Valor: 2013-04-05 | Ocorrências: 8
  - Valor: 2012-11-09 | Ocorrências: 8
  - Valor: 2013-10-28 | Ocorrências: 8
  - Valor: 2012-08-17 | Ocorrências: 8
  - Valor: 2013-08-31 | Ocorrências: 8
  - Valor: 2013-11-07 | Ocorrências: 8
  - Valor: 2013-05-11 | Ocorrências: 8
  - Valor: 2014-05-11 | Ocorrências: 8
  - Valor: 2012-08-22 | Ocorrências: 8
  - Valor: 2013-01-12 | Ocorrências: 8
  - Valor: 2012-11-23 | Ocorrências: 8
  - Valor: 2012-11-03 | Ocorrências: 8
  - Valor: 2013-06-03 | Ocorrências: 8
  - Valor: 2013-06-04 | Ocorrências: 7
  - Valor: 2014-03-30 | Ocorrências: 7
  - Valor: 2013-11-23 | Ocorrências: 7
  - Valor: 2013-04-13 | Ocorrências: 7
  - Valor: 2014-03-17 | Ocorrências: 7
  - Valor: 2013-10-04 | Ocorrências: 7
  - Valor: 2013-01-10 | Ocorrências: 7
  - Valor: 2013-05-22 | Ocorrências: 7
  - Valor: 2014-02-07 | Ocorrências: 7
  - Valor: 2013-10-02 | Ocorrências: 7
  - Valor: 2013-10-25 | Ocorrências: 7
  - Valor: 2013-02-13 | Ocorrências: 7
  - Valor: 2013-02-16 | Ocorrências: 7
  - Valor: 2013-08-07 | Ocorrências: 7
  - Valor: 2014-01-26 | Ocorrências: 7
  - Valor: 2012-08-08 | Ocorrências: 7
  - Valor: 2014-05-02 | Ocorrências: 7
  - Valor: 2013-01-16 | Ocorrências: 7
  - Valor: 2013-02-20 | Ocorrências: 7
  - Valor: 2012-08-12 | Ocorrências: 6
  - Valor: 2013-04-22 | Ocorrências: 6
  - Valor: 2013-04-18 | Ocorrências: 6
  - Valor: 2012-09-14 | Ocorrências: 6
  - Valor: 2013-01-17 | Ocorrências: 6
  - Valor: 2014-04-24 | Ocorrências: 6
  - Valor: 2013-11-14 | Ocorrências: 6
  - Valor: 2013-09-28 | Ocorrências: 6
  - Valor: 2014-03-29 | Ocorrências: 6
  - Valor: 2012-12-12 | Ocorrências: 6
  - Valor: 2013-05-17 | Ocorrências: 6
  - Valor: 2012-10-05 | Ocorrências: 6
  - Valor: 2013-09-12 | Ocorrências: 6
  - Valor: 2012-11-10 | Ocorrências: 6
  - Valor: 2012-09-18 | Ocorrências: 6
  - Valor: 2013-10-21 | Ocorrências: 6
  - Valor: 2013-10-16 | Ocorrências: 6
  - Valor: 2013-11-15 | Ocorrências: 6
  - Valor: 2013-09-11 | Ocorrências: 6
  - Valor: 2013-03-03 | Ocorrências: 6
  - Valor: 2012-09-22 | Ocorrências: 6
  - Valor: 2012-10-04 | Ocorrências: 6
  - Valor: 2012-10-13 | Ocorrências: 6
  - Valor: 2013-10-08 | Ocorrências: 6
  - Valor: 2012-09-08 | Ocorrências: 6
  - Valor: 2014-04-13 | Ocorrências: 6
  - Valor: 2013-10-12 | Ocorrências: 6
  - Valor: 2013-05-20 | Ocorrências: 6
  - Valor: 2013-07-04 | Ocorrências: 6
  - Valor: 2014-05-29 | Ocorrências: 6
  - Valor: 2012-11-13 | Ocorrências: 6
  - Valor: 2013-01-13 | Ocorrências: 6
  - Valor: 2012-09-07 | Ocorrências: 6
  - Valor: 2013-03-19 | Ocorrências: 5
  - Valor: 2012-10-31 | Ocorrências: 5
  - Valor: 2012-11-05 | Ocorrências: 5
  - Valor: 2013-09-16 | Ocorrências: 5
  - Valor: 2013-08-28 | Ocorrências: 5
  - Valor: 2013-01-11 | Ocorrências: 5
  - Valor: 2012-10-18 | Ocorrências: 5
  - Valor: 2013-02-06 | Ocorrências: 5
  - Valor: 2013-07-29 | Ocorrências: 5
  - Valor: 2012-11-07 | Ocorrências: 5
  - Valor: 2013-04-27 | Ocorrências: 5
  - Valor: 2013-07-21 | Ocorrências: 5
  - Valor: 2013-07-19 | Ocorrências: 5
  - Valor: 2014-03-08 | Ocorrências: 5
  - Valor: 2013-07-05 | Ocorrências: 5
  - Valor: 2014-05-18 | Ocorrências: 5
  - Valor: 2013-03-31 | Ocorrências: 5
  - Valor: 2012-12-30 | Ocorrências: 5
  - Valor: 2014-05-19 | Ocorrências: 5
  - Valor: 2012-08-18 | Ocorrências: 5
  - Valor: 2013-02-12 | Ocorrências: 5
  - Valor: 2013-12-09 | Ocorrências: 5
  - Valor: 2013-01-23 | Ocorrências: 5
  - Valor: 2014-03-31 | Ocorrências: 5
  - Valor: 2012-11-17 | Ocorrências: 5
  - Valor: 2013-12-29 | Ocorrências: 5
  - Valor: 2013-06-08 | Ocorrências: 5
  - Valor: 2014-02-02 | Ocorrências: 5
  - Valor: 2013-05-02 | Ocorrências: 5
  - Valor: 2014-01-22 | Ocorrências: 5
  - Valor: 2012-12-22 | Ocorrências: 5
  - Valor: 2013-08-15 | Ocorrências: 5
  - Valor: 2013-04-01 | Ocorrências: 5
  - Valor: 2013-12-07 | Ocorrências: 5
  - Valor: 2014-03-18 | Ocorrências: 5
  - Valor: 2013-09-18 | Ocorrências: 5
  - Valor: 2013-03-10 | Ocorrências: 5
  - Valor: 2014-02-15 | Ocorrências: 5
  - Valor: 2012-08-03 | Ocorrências: 5
  - Valor: 2014-05-24 | Ocorrências: 5
  - Valor: 2014-01-21 | Ocorrências: 5
  - Valor: 2013-05-06 | Ocorrências: 5
  - Valor: 2014-03-10 | Ocorrências: 5
  - Valor: 2014-02-25 | Ocorrências: 5
  - Valor: 2013-07-03 | Ocorrências: 5
  - Valor: 2014-06-22 | Ocorrências: 5
  - Valor: 2013-01-20 | Ocorrências: 5
  - Valor: 2012-10-12 | Ocorrências: 5
  - Valor: 2012-10-14 | Ocorrências: 5
  - Valor: 2013-03-17 | Ocorrências: 5
  - Valor: 2012-10-01 | Ocorrências: 5
  - Valor: 2014-02-17 | Ocorrências: 5
  - Valor: 2013-02-18 | Ocorrências: 5
  - Valor: 2013-09-17 | Ocorrências: 5
  - Valor: 2014-03-12 | Ocorrências: 5
  - Valor: 2014-01-23 | Ocorrências: 5
  - Valor: 2013-03-12 | Ocorrências: 5
  - Valor: 2014-01-25 | Ocorrências: 5
  - Valor: 2013-03-29 | Ocorrências: 5
  - Valor: 2013-10-03 | Ocorrências: 5
  - Valor: 2013-03-18 | Ocorrências: 5
  - Valor: 2014-01-11 | Ocorrências: 5
  - Valor: 2013-03-28 | Ocorrências: 5
  - Valor: 2012-12-24 | Ocorrências: 5
  - Valor: 2012-10-10 | Ocorrências: 5
  - Valor: 2013-09-09 | Ocorrências: 5
  - Valor: 2014-02-10 | Ocorrências: 5
  - Valor: 2014-05-07 | Ocorrências: 5
  - Valor: 2013-06-13 | Ocorrências: 5
  - Valor: 2013-08-01 | Ocorrências: 5
  - Valor: 2013-06-20 | Ocorrências: 5
  - Valor: 2014-02-24 | Ocorrências: 5
  - Valor: 2013-02-19 | Ocorrências: 5
  - Valor: 2012-12-07 | Ocorrências: 5
  - Valor: 2013-04-21 | Ocorrências: 5
  - Valor: 2013-07-30 | Ocorrências: 5
  - Valor: 2014-04-18 | Ocorrências: 5
  - Valor: 2013-11-06 | Ocorrências: 5
  - Valor: 2013-09-30 | Ocorrências: 5
  - Valor: 2013-01-08 | Ocorrências: 5
  - Valor: 2014-06-25 | Ocorrências: 5
  - Valor: 2013-12-01 | Ocorrências: 5
  - Valor: 2013-11-02 | Ocorrências: 5
  - Valor: 2014-04-23 | Ocorrências: 5
  - Valor: 2012-08-01 | Ocorrências: 4
  - Valor: 2013-10-20 | Ocorrências: 4
  - Valor: 2013-10-11 | Ocorrências: 4
  - Valor: 2014-04-29 | Ocorrências: 4
  - Valor: 2012-08-07 | Ocorrências: 4
  - Valor: 2013-01-25 | Ocorrências: 4
  - Valor: 2013-12-11 | Ocorrências: 4
  - Valor: 2014-06-19 | Ocorrências: 4
  - Valor: 2013-05-12 | Ocorrências: 4
  - Valor: 2012-09-25 | Ocorrências: 4
  - Valor: 2013-09-15 | Ocorrências: 4
  - Valor: 2012-11-29 | Ocorrências: 4
  - Valor: 2013-12-27 | Ocorrências: 4
  - Valor: 2013-01-19 | Ocorrências: 4
  - Valor: 2014-01-15 | Ocorrências: 4
  - Valor: 2013-11-03 | Ocorrências: 4
  - Valor: 2013-03-07 | Ocorrências: 4
  - Valor: 2013-08-05 | Ocorrências: 4
  - Valor: 2013-05-26 | Ocorrências: 4
  - Valor: 2013-08-23 | Ocorrências: 4
  - Valor: 2013-12-23 | Ocorrências: 4
  - Valor: 2013-05-10 | Ocorrências: 4
  - Valor: 2013-12-17 | Ocorrências: 4
  - Valor: 2014-01-27 | Ocorrências: 4
  - Valor: 2014-03-24 | Ocorrências: 4
  - Valor: 2013-11-17 | Ocorrências: 4
  - Valor: 2013-05-29 | Ocorrências: 4
  - Valor: 2013-12-16 | Ocorrências: 4
  - Valor: 2014-06-16 | Ocorrências: 4
  - Valor: 2012-08-04 | Ocorrências: 4
  - Valor: 2013-03-30 | Ocorrências: 4
  - Valor: 2012-09-06 | Ocorrências: 4
  - Valor: 2012-09-21 | Ocorrências: 4
  - Valor: 2014-04-07 | Ocorrências: 4
  - Valor: 2013-04-15 | Ocorrências: 4
  - Valor: 2013-02-22 | Ocorrências: 4
  - Valor: 2014-04-20 | Ocorrências: 4
  - Valor: 2013-10-24 | Ocorrências: 4
  - Valor: 2013-03-27 | Ocorrências: 4
  - Valor: 2013-06-21 | Ocorrências: 4
  - Valor: 2014-02-13 | Ocorrências: 4
  - Valor: 2013-07-14 | Ocorrências: 4
  - Valor: 2014-01-28 | Ocorrências: 4
  - Valor: 2013-09-22 | Ocorrências: 4
  - Valor: 2013-03-11 | Ocorrências: 4
  - Valor: 2013-07-06 | Ocorrências: 4
  - Valor: 2013-10-06 | Ocorrências: 4
  - Valor: 2013-08-17 | Ocorrências: 4
  - Valor: 2013-03-04 | Ocorrências: 4
  - Valor: 2012-08-30 | Ocorrências: 4
  - Valor: 2012-12-03 | Ocorrências: 4
  - Valor: 2013-05-28 | Ocorrências: 4
  - Valor: 2013-12-25 | Ocorrências: 4
  - Valor: 2012-12-01 | Ocorrências: 4
  - Valor: 2013-01-01 | Ocorrências: 4
  - Valor: 2013-06-10 | Ocorrências: 4
  - Valor: 2013-08-09 | Ocorrências: 4
  - Valor: 2013-09-05 | Ocorrências: 4
  - Valor: 2012-12-28 | Ocorrências: 4
  - Valor: 2012-09-28 | Ocorrências: 4
  - Valor: 2013-11-29 | Ocorrências: 4
  - Valor: 2014-05-04 | Ocorrências: 4
  - Valor: 2012-09-04 | Ocorrências: 4
  - Valor: 2013-12-04 | Ocorrências: 4

### Verificação tipo dos dados

In [15]:
# Função para verificar o tipo dos dados/colunas
def verificar_tipo_dados(df):
    """
    Verifica o tipo dos dados/colunas de um DataFrame.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser verificado.
    
    Retorna:
    - pandas.DataFrame: DataFrame com os nomes das colunas e seus respectivos tipos de dados.
    """
    # Obter os tipos de dados das colunas
    tipos_dados = df.dtypes
    
    # Criar um DataFrame com os resultados
    tabela_tipos = pd.DataFrame({
        'Coluna': tipos_dados.index,
        'Tipo de Dado': tipos_dados.values
    })
    
    return tabela_tipos

# Verificar o tipo dos dados/colunas
tabela_tipos = verificar_tipo_dados(dados)
tabela_tipos

                 Coluna Tipo de Dado
0                    ID        int64
1            Year_Birth        int64
2             Education       object
3        Marital_Status       object
4                Income      float64
5               Kidhome        int64
6              Teenhome        int64
7           Dt_Customer       object
8               Recency        int64
9              MntWines        int64
10            MntFruits        int64
11      MntMeatProducts        int64
12      MntFishProducts        int64
13     MntSweetProducts        int64
14         MntGoldProds        int64
15    NumDealsPurchases        int64
16      NumWebPurchases        int64
17  NumCatalogPurchases        int64
18    NumStorePurchases        int64
19    NumWebVisitsMonth        int64
20         AcceptedCmp3        int64
21         AcceptedCmp4        int64
22         AcceptedCmp5        int64
23         AcceptedCmp1        int64
24         AcceptedCmp2        int64
25             Complain        int64
26        Z_CostContact        int64
27            Z_Revenue        int64
28             Response        int64

### Verificação dos dados

In [16]:
def verificar_colunas_numericas(df, colunas):
    """
    Verifica se as colunas especificadas contêm apenas valores numéricos.

    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser verificado.
    - colunas (list): Lista de nomes das colunas a serem verificadas.

    Retorna:
    - dict: Dicionário com o nome da coluna e um booleano indicando se contém apenas números.
    - pandas.DataFrame: DataFrame com as inconsistências encontradas.
    """
    resultado = {}
    inconsistencias = []

    for coluna in colunas:
        if coluna in df.columns:
            # Verifica se todos os valores na coluna são numéricos
            col_numerica = pd.to_numeric(df[coluna], errors='coerce')
            resultado[coluna] = col_numerica.notnull().all()
            if not resultado[coluna]:
                # Adiciona as inconsistências à lista
                posicoes_inconsistentes = col_numerica[col_numerica.isnull()].index.tolist()
                for posicao in posicoes_inconsistentes:
                    inconsistencias.append({'Coluna': coluna, 'Posição': posicao, 'Valor': df.at[posicao, coluna]})
        else:
            resultado[coluna] = False
            print(f"⚠️ Coluna '{coluna}' não encontrada no DataFrame.")

    # Cria um DataFrame com as inconsistências
    df_inconsistencias = pd.DataFrame(inconsistencias)

    return resultado, df_inconsistencias

# Colunas a serem verificadas
colunas_a_verificar = [
    'ID', 'Year_Birth', 'Income', 
    'Kidhome', 'Teenhome', 'Recency',
    'MntWines', 'MntFruits', 'MntMeatProducts',
    'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 
    'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 
    'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 
    'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 
    'AcceptedCmp2', 'Complain', 'Z_CostContact', 
    'Z_Revenue', 'Response'

]

# Verificar as colunas no DataFrame 'dados'
resultado_verificacao, df_inconsistencias = verificar_colunas_numericas(dados, colunas_a_verificar)

# Exibir o resultado da verificação
for coluna, is_numerica in resultado_verificacao.items():
    status = "contém apenas números" if is_numerica else "não contém apenas números"
    print(f"Coluna '{coluna}': {status}")

# Exibir as inconsistências, se houver
if not df_inconsistencias.empty:
    print("\nInconsistências encontradas:")
    display(df_inconsistencias)
else:
    print("\nNenhuma inconsistência encontrada nas colunas verificadas.")

Coluna 'ID': contém apenas números
Coluna 'Year_Birth': contém apenas números
Coluna 'Income': contém apenas números
Coluna 'Kidhome': contém apenas números
Coluna 'Teenhome': contém apenas números
Coluna 'Recency': contém apenas números
Coluna 'MntWines': contém apenas números
Coluna 'MntFruits': contém apenas números
Coluna 'MntMeatProducts': contém apenas números
Coluna 'MntFishProducts': contém apenas números
Coluna 'MntSweetProducts': contém apenas números
Coluna 'MntGoldProds': contém apenas números
Coluna 'NumDealsPurchases': contém apenas números
Coluna 'NumWebPurchases': contém apenas números
Coluna 'NumCatalogPurchases': contém apenas números
Coluna 'NumStorePurchases': contém apenas números
Coluna 'NumWebVisitsMonth': contém apenas números
Coluna 'AcceptedCmp3': contém apenas números
Coluna 'AcceptedCmp4': contém apenas números
Coluna 'AcceptedCmp5': contém apenas números
Coluna 'AcceptedCmp1': contém apenas números
Coluna 'AcceptedCmp2': contém apenas números
Coluna 'Complain': contém apenas números
Coluna 'Z_CostContact': contém apenas números
Coluna 'Z_Revenue': contém apenas números
Coluna 'Response': contém apenas números

Nenhuma inconsistência encontrada nas colunas verificadas.

### Valores máx/min

In [17]:
def valores_max_min(df):
    """
    Percorre todas as colunas numéricas (int ou float) de um DataFrame e retorna uma tabela com os valores máximos e mínimos de cada coluna.

    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser analisado.

    Retorna:
    - pandas.DataFrame: DataFrame com os valores máximos e mínimos de cada coluna numérica.
    """
    # Selecionar apenas colunas numéricas
    colunas_numericas = df.select_dtypes(include=['int64', 'float64']).columns
    
    # Criar listas para armazenar os resultados
    colunas = []
    valores_min = []
    valores_max = []
    
    # Percorrer cada coluna numérica e calcular os valores máximo e mínimo
    for coluna in colunas_numericas:
        colunas.append(coluna)
        valores_min.append(df[coluna].min())
        valores_max.append(df[coluna].max())
    
    # Criar o DataFrame final com todos os resultados de uma vez
    tabela_max_min = pd.DataFrame({
        'Coluna': colunas,
        'Valor Mínimo': valores_min,
        'Valor Máximo': valores_max
    })
    
    return tabela_max_min

# Aplicar a função e exibir a tabela de valores máximos e mínimos
tabela_max_min = valores_max_min(dados)
tabela_max_min

                 Coluna  Valor Mínimo  Valor Máximo
0                    ID           0.0       11191.0
1            Year_Birth        1893.0        1996.0
2                Income        1730.0      666666.0
3               Kidhome           0.0           2.0
4              Teenhome           0.0           2.0
5               Recency           0.0          99.0
6              MntWines           0.0        1493.0
7             MntFruits           0.0         199.0
8       MntMeatProducts           0.0        1725.0
9       MntFishProducts           0.0         259.0
10     MntSweetProducts           0.0         263.0
11         MntGoldProds           0.0         362.0
12    NumDealsPurchases           0.0          15.0
13      NumWebPurchases           0.0          27.0
14  NumCatalogPurchases           0.0          28.0
15    NumStorePurchases           0.0          13.0
16    NumWebVisitsMonth           0.0          20.0
17         AcceptedCmp3           0.0           1.0
18         AcceptedCmp4           0.0           1.0
19         AcceptedCmp5           0.0           1.0
20         AcceptedCmp1           0.0           1.0
21         AcceptedCmp2           0.0           1.0
22             Complain           0.0           1.0
23        Z_CostContact           3.0           3.0
24            Z_Revenue          11.0          11.0
25             Response           0.0           1.0

### Conversão/otimização

In [19]:
def modificar_tipo_colunas(df, colunas_tipos):
    """
    Modifica o tipo de dado de colunas específicas em um DataFrame.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame original.
    - colunas_tipos (dict): Dicionário onde as chaves são os nomes das colunas e os valores são os tipos de dados desejados.
    
    Retorna:
    - pandas.DataFrame: DataFrame com os tipos de dados modificados.
    """
    # Verifica se as colunas informadas existem no DataFrame
    colunas_invalidas = [col for col in colunas_tipos.keys() if col not in df.columns]
    if colunas_invalidas:
        raise ValueError(f"Colunas inválidas: {colunas_invalidas}")
    
    # Modifica o tipo de dado das colunas especificadas
    for coluna, tipo in colunas_tipos.items():
        try:
            df[coluna] = df[coluna].astype(tipo)
            print(f"✅ Coluna '{coluna}' convertida para '{tipo}' com sucesso.")
        except Exception as e:
            print(f"⚠️ Erro ao converter a coluna '{coluna}' para '{tipo}': {e}")
    
    return df

# Exemplo de uso:
colunas_tipos = {
    'ID': 'int16',  # de 0 a 11191
    'Year_Birth': 'int16',  # de 1893 a 1996
    'Income': 'float32',  # de 1730 a 666666
    'Kidhome': 'int8',  # de 0 a 2
    'Teenhome': 'int8',  # de 0 a 2
    'Recency': 'int8',  # de 0 a 99
    'MntWines': 'int16',  # de 0 a 1493
    'MntFruits': 'int16',  # de 0 a 199
    'MntMeatProducts': 'int16',  # de 0 a 1725
    'MntFishProducts': 'int16',  # de 0 a 259
    'MntSweetProducts': 'int16',  # de 0 a 263
    'MntGoldProds': 'int16',  # de 0 a 362
    'NumDealsPurchases': 'int8',  # de 0 a 15
    'NumWebPurchases': 'int8',  # de 0 a 27
    'NumCatalogPurchases': 'int8',  # de 0 a 28
    'NumStorePurchases': 'int8',  # de 0 a 13
    'NumWebVisitsMonth': 'int8',  # de 0 a 20
    'AcceptedCmp3': 'int8',  # de 0 a 1
    'AcceptedCmp4': 'int8',  # de 0 a 1
    'AcceptedCmp5': 'int8',  # de 0 a 1
    'AcceptedCmp1': 'int8',  # de 0 a 1
    'AcceptedCmp2': 'int8',  # de 0 a 1
    'Complain': 'int8',  # de 0 a 1
    'Z_CostContact': 'int8',  # valor constante 3
    'Z_Revenue': 'int8',  # valor constante 11
    'Response': 'int8'  # de 0 a 1
}
 

dados = modificar_tipo_colunas(dados, colunas_tipos)
dados.dtypes # Verificar os tipos de dados

✅ Coluna 'ID' convertida para 'int16' com sucesso.
✅ Coluna 'Year_Birth' convertida para 'int16' com sucesso.
✅ Coluna 'Income' convertida para 'float32' com sucesso.
✅ Coluna 'Kidhome' convertida para 'int8' com sucesso.
✅ Coluna 'Teenhome' convertida para 'int8' com sucesso.
✅ Coluna 'Recency' convertida para 'int8' com sucesso.
✅ Coluna 'MntWines' convertida para 'int16' com sucesso.
✅ Coluna 'MntFruits' convertida para 'int16' com sucesso.
✅ Coluna 'MntMeatProducts' convertida para 'int16' com sucesso.
✅ Coluna 'MntFishProducts' convertida para 'int16' com sucesso.
✅ Coluna 'MntSweetProducts' convertida para 'int16' com sucesso.
✅ Coluna 'MntGoldProds' convertida para 'int16' com sucesso.
✅ Coluna 'NumDealsPurchases' convertida para 'int8' com sucesso.
✅ Coluna 'NumWebPurchases' convertida para 'int8' com sucesso.
✅ Coluna 'NumCatalogPurchases' convertida para 'int8' com sucesso.
✅ Coluna 'NumStorePurchases' convertida para 'int8' com sucesso.
✅ Coluna 'NumWebVisitsMonth' convertida para 'int8' com sucesso.
✅ Coluna 'AcceptedCmp3' convertida para 'int8' com sucesso.
✅ Coluna 'AcceptedCmp4' convertida para 'int8' com sucesso.
✅ Coluna 'AcceptedCmp5' convertida para 'int8' com sucesso.
✅ Coluna 'AcceptedCmp1' convertida para 'int8' com sucesso.
✅ Coluna 'AcceptedCmp2' convertida para 'int8' com sucesso.
✅ Coluna 'Complain' convertida para 'int8' com sucesso.
✅ Coluna 'Z_CostContact' convertida para 'int8' com sucesso.
✅ Coluna 'Z_Revenue' convertida para 'int8' com sucesso.
✅ Coluna 'Response' convertida para 'int8' com sucesso.

ID                       int16
Year_Birth               int16
Education               object
Marital_Status          object
Income                 float32
Kidhome                   int8
Teenhome                  int8
Dt_Customer             object
Recency                   int8
MntWines                 int16
MntFruits                int16
MntMeatProducts          int16
MntFishProducts          int16
MntSweetProducts         int16
MntGoldProds             int16
NumDealsPurchases         int8
NumWebPurchases           int8
NumCatalogPurchases       int8
NumStorePurchases         int8
NumWebVisitsMonth         int8
AcceptedCmp3              int8
AcceptedCmp4              int8
AcceptedCmp5              int8
AcceptedCmp1              int8
AcceptedCmp2              int8
Complain                  int8
Z_CostContact             int8
Z_Revenue                 int8
Response                  int8
dtype: object

### Remoção espaços

In [20]:
def remover_espacos(df):
    """
    Remove espaços em branco à esquerda e à direita das strings em todas as colunas de um DataFrame.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser processado.
    
    Retorna:
    - pandas.DataFrame: DataFrame com os espaços removidos.
    - pandas.DataFrame: DataFrame com informações sobre as remoções realizadas.
    """
    # Verificar se o DataFrame é válido
    if not isinstance(df, pd.DataFrame):
        raise ValueError("O argumento fornecido não é um DataFrame.")
    
    # Inicializar lista para armazenar informações sobre remoções
    informacoes_remocoes = []

    # Aplicar strip em todas as colunas de tipo object e category
    for col in df.select_dtypes(include=['object', 'category']).columns:
        # Contar espaços em branco antes da remoção
        espacos_antes = df[col].apply(lambda x: x != x.strip() if isinstance(x, str) else False).sum()
        
        # Remover espaços em branco
        df[col] = df[col].map(lambda x: x.strip() if isinstance(x, str) else x)
        
        # Contar espaços em branco após a remoção
        espacos_depois = df[col].apply(lambda x: x != x.strip() if isinstance(x, str) else False).sum()
        
        # Verificar se a remoção foi bem-sucedida
        sucesso = espacos_depois == 0
        
        # Adicionar informações à lista
        informacoes_remocoes.append({
            'Coluna': col,
            'Espaços Antes': espacos_antes,
            'Espaços Depois': espacos_depois,
            'Remoção Bem-Sucedida': sucesso
        })
    
    # Criar DataFrame com as informações de remoção
    df_informacoes_remocoes = pd.DataFrame(informacoes_remocoes)
    
    return df, df_informacoes_remocoes

# Exemplo de uso:
dados, informacoes_remocoes = remover_espacos(dados)

# Exibir as informações sobre as remoções
print("Informações sobre a remoção de espaços em branco:")
display(informacoes_remocoes)

Informações sobre a remoção de espaços em branco:

           Coluna  Espaços Antes  Espaços Depois  Remoção Bem-Sucedida
0       Education              0               0                  True
1  Marital_Status              0               0                  True
2     Dt_Customer              0               0                  True

### Conversão coluna Dt_Customer

In [24]:
# Convert Dt_Customer to datetime
try:
    dados['Dt_Customer'] = pd.to_datetime(dados['Dt_Customer'])
    print("✅ Conversão da coluna 'Dt_Customer' para datetime realizada com sucesso!")
    
    # Show updated data types
    print("\nVisão geral dos tipos de dados após a conversão:")
    display(dados.dtypes)
except Exception as e:
    print(f"❌ Erro na conversão: {e}")

✅ Conversão da coluna 'Dt_Customer' para datetime realizada com sucesso!

Visão geral dos tipos de dados após a conversão:

ID                              int16
Year_Birth                      int16
Education                      object
Marital_Status                 object
Income                        float32
Kidhome                          int8
Teenhome                         int8
Dt_Customer            datetime64[ns]
Recency                          int8
MntWines                        int16
MntFruits                       int16
MntMeatProducts                 int16
MntFishProducts                 int16
MntSweetProducts                int16
MntGoldProds                    int16
NumDealsPurchases                int8
NumWebPurchases                  int8
NumCatalogPurchases              int8
NumStorePurchases                int8
NumWebVisitsMonth                int8
AcceptedCmp3                     int8
AcceptedCmp4                     int8
AcceptedCmp5                     int8
AcceptedCmp1                     int8
AcceptedCmp2                     int8
Complain                         int8
Z_CostContact                    int8
Z_Revenue                        int8
Response                         int8
dtype: object

### Valores únicos

In [25]:
def detectar_valores_unicos(df, coluna):
    """
    Detecta valores únicos em uma coluna de um DataFrame e exibe esses valores de forma amigável.

    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser analisado.
    - coluna (str): Nome da coluna cujos valores únicos serão detectados.

    Retorna:
    - pandas.DataFrame: DataFrame com os valores únicos e suas contagens.
    - str: Mensagem indicando o sucesso da operação e o número de valores únicos encontrados.
    """
    if coluna not in df.columns:
        raise ValueError(f"Coluna '{coluna}' não encontrada no DataFrame.")
    
    # Detectar valores únicos e suas contagens
    valores_unicos = df[coluna].value_counts().reset_index()
    valores_unicos.columns = [coluna, 'Contagem']
    
    # Criar a mensagem de saída
    mensagem = f"Operação bem-sucedida! Foram encontrados {valores_unicos.shape[0]} valores únicos na coluna '{coluna}'."
    
    return valores_unicos, mensagem

# Exemplo de uso:
colunas = ['Education', 'Marital_Status', 'Dt_Customer']
for coluna in colunas:
    valores_unicos, mensagem = detectar_valores_unicos(dados, coluna)
    # Exibir a mensagem e a tabela de valores únicos
    print(mensagem)
    display(valores_unicos)

Operação bem-sucedida! Foram encontrados 5 valores únicos na coluna 'Education'.

    Education  Contagem
0  Graduation      1127
1         PhD       486
2      Master       370
3    2n Cycle       203
4       Basic        54

Operação bem-sucedida! Foram encontrados 8 valores únicos na coluna 'Marital_Status'.

  Marital_Status  Contagem
0        Married       864
1       Together       580
2         Single       480
3       Divorced       232
4          Widow        77
5          Alone         3
6         Absurd         2
7           YOLO         2

Operação bem-sucedida! Foram encontrados 663 valores únicos na coluna 'Dt_Customer'.

    Dt_Customer  Contagem
0    2012-08-31        12
1    2012-09-12        11
2    2013-02-14        11
3    2014-05-12        11
4    2013-08-20        10
..          ...       ...
658  2012-08-05         1
659  2012-11-18         1
660  2013-05-25         1
661  2013-04-14         1
662  2014-01-09         1

[663 rows x 2 columns]

### Conversão/otimização

In [26]:
def modificar_tipo_colunas(df, colunas_tipos):
    """
    Modifica o tipo de dado de colunas específicas em um DataFrame.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame original.
    - colunas_tipos (dict): Dicionário onde as chaves são os nomes das colunas e os valores são os tipos de dados desejados.
    
    Retorna:
    - pandas.DataFrame: DataFrame com os tipos de dados modificados.
    """
    # Verifica se as colunas informadas existem no DataFrame
    colunas_invalidas = [col for col in colunas_tipos.keys() if col not in df.columns]
    if colunas_invalidas:
        raise ValueError(f"Colunas inválidas: {colunas_invalidas}")
    
    # Modifica o tipo de dado das colunas especificadas
    for coluna, tipo in colunas_tipos.items():
        try:
            df[coluna] = df[coluna].astype(tipo)
            print(f"✅ Coluna '{coluna}' convertida para '{tipo}' com sucesso.")
        except Exception as e:
            print(f"⚠️ Erro ao converter a coluna '{coluna}' para '{tipo}': {e}")
    
    return df

# Exemplo de uso:
colunas_tipos = {
    'Marital_Status':'category',
    'Education': 'category'
}
 

dados = modificar_tipo_colunas(dados, colunas_tipos)
dados.dtypes # Verificar os tipos de dados

✅ Coluna 'Marital_Status' convertida para 'category' com sucesso.
✅ Coluna 'Education' convertida para 'category' com sucesso.

ID                              int16
Year_Birth                      int16
Education                    category
Marital_Status               category
Income                        float32
Kidhome                          int8
Teenhome                         int8
Dt_Customer            datetime64[ns]
Recency                          int8
MntWines                        int16
MntFruits                       int16
MntMeatProducts                 int16
MntFishProducts                 int16
MntSweetProducts                int16
MntGoldProds                    int16
NumDealsPurchases                int8
NumWebPurchases                  int8
NumCatalogPurchases              int8
NumStorePurchases                int8
NumWebVisitsMonth                int8
AcceptedCmp3                     int8
AcceptedCmp4                     int8
AcceptedCmp5                     int8
AcceptedCmp1                     int8
AcceptedCmp2                     int8
Complain                         int8
Z_CostContact                    int8
Z_Revenue                        int8
Response                         int8
dtype: object

### Carga

In [28]:
def salvar_dados(df, caminho_arquivo_saida):
    """
    Salva o DataFrame em um arquivo CSV.
    
    Parâmetros:
    - df (pandas.DataFrame): DataFrame a ser salvo.
    - caminho_arquivo_saida (str): Caminho do arquivo CSV de saída.
    """
    df.to_csv(caminho_arquivo_saida, index=False)
    print(f"✅ Dados salvos com sucesso em '{caminho_arquivo_saida}'")

# Exemplo de uso:
caminho_arquivo_saida = '../data/processed/marketing_campaign_atualizado.csv'
salvar_dados(dados, caminho_arquivo_saida)

✅ Dados salvos com sucesso em '../data/processed/marketing_campaign_atualizado.csv'